*{
    padding: 0;
    margin: 0;
}

/*header{
    background-color: rgb(17, 81, 255);
    display: flex;
    align-items : center;
    justify-content: center;
    padding: 23px;
    border: 1px solid;
}*/

nav{
    background-color:#410863;
    margin: 0 auto;
    max-width: 580pc;
}
 
nav ul{
    list-style-type: none;
}
nav a{
    display: block;
    color: rgb(221, 240, 238);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    

}
nav a:hover{
    border: 1px rgb(255, 255, 180);
}
nav ul{
    display: flex;

}

nav ul li {
    flex: 1 1 100%;
}

footer{
    background-color: #410863;
    text-align: center;
    padding: 1rem;
}
footer p{
    color: rgb(255, 255, 255);
}