@media screen and (min-width: 500px){
    header{
        background-color: black;
    }
    h1{
        color: white;
    }
    h3{
        background-color: rgb(253, 100, 40);
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
